.logo img {
  width: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0px 40px;
}

.body {
  margin-top: 10px;
}

.search {
  display: flex;
  gap: 10px;
}

.searchButton {
  cursor: pointer;
}

.res-card {
  width: 170px;
  height: 280px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.res-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.res-card h3 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.res-card h4 {
  margin: 2px 0;
  font-size: 12px;
  color: #555;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}
